<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zfy.behalf.mapper.UserMapper">
    <select id="search" resultType="cn.zfy.behalf.entity.po.User"
            parameterType="cn.zfy.behalf.dto.biz.UserPageSearchDto">
        SELECT id,username,`name`,phone,create_time,update_time FROM `user`
        <where>
            <if test="searchDto.username!=null and searchDto.username!=''">
                AND username LIKE concat ('%',#{searchDto.usename},'%')
            </if>
            <if test="searchDto.phone!=null and searchDto.phone!=''">
                AND phone LIKE concat ('%',#{searchDto.phone},'%')
            </if>
            <if test="searchDto.name!=null and searchDto.name!=''">
                AND `name` LIKE concat ('%',#{searchDto.name},'%')
            </if>
        </where>
    </select>
</mapper>
